div {
    color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: lavender;
}

p {
    color: rosybrown;
    font-family: 'Courier New', Courier, monospace;
}